

<div class="teste">
    
<label class="txt_inserir">Inserir</label>
<form name='form1' action='controllerForm' method='post'>
    <input type="text" name='name' id='name' placeholder="Nome" class="style_input"><br>
    <input type="text" name="qnt" id="qnt" placeholder="Quantidade" class="style_input"><br>
    <input type="text" name="marca" id="marca" placeholder="Marca" class="style_input"><br>
    <input type="text" name="preco" id="preco" placeholder="Preço" class="style_input"><br>
    <input type="text" name="datafab" id="datafab" placeholder="Data de fabrição" class="style_input"><br>
    <input type="text" name="dataval" id="dataval" placeholder="Data de validade" class="style_input"><br>
    <input type="submit" name="btnsubmit" id="btnsubmit" value="Adicionar" class="btn_adicionar"><br>

</form>


</div>
